@media (max-width:985px) {
    .gallery{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:895px) {
    .banner_text h1, .about_text h1{
        font-size: 35px;
    }

  /* Nav Toggle Menu */
 .nav_toggler_icon{
    display: block; 
 }
.navigation{
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: rgba(161, 7, 84, 0.966);
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transform: translateY(-354.6px);
    transition: .3s ease-in-out;
}

#nav_toggler:checked ~ .navigation{
    transform: translateY(0px);
}
    

.banner, .about{
    grid-template-columns: 1fr;
    height: fit-content;  /* It'll take the banner's content fit in the total height -- support to stop breaking the layout */
    }
    .banner_text, .about_text{
     order: 2;
     margin-top: 40px;
     padding-bottom: 35px;
    }
}

@media (max-width:750px) {
    .contact{
        grid-template-columns: 1fr;
    }
}

@media (max-width:690px) {
    .banner_text h1, .about_text h1{
        font-size: 30px;
    }
    .banner_text p, .about_text p{
        font-size: 18px;
    }
    .feature, .gallery{
        grid-template-columns: 1fr;
    }
}
    